.card {
	padding-top: 60px;
	padding-left: 10vw;
	padding-right: 10vw;
}
.card__heading1 {
	background-color: #1c1919;
	color: antiquewhite;
	padding: 1px;
	padding-left: 30px;
	margin-top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h2 {
	margin-right: 50px;
}
h5 {
	font-size: 20px;
	width: 100%;
}
.details {
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	margin-left: 50px;
	justify-content: space-between;
}
.button {
	padding: 0px;
	margin: 0px;
	margin-right: 50px;
}
