.card {
	padding: 200px;
	border-radius: 20%;
}
.card__heading1 {
	background-color: #1c1919;
	color: antiquewhite;
	padding: 10px;
	margin-top: 0px;
}

.details {
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}
.button {
	padding: 0px;
	margin: 0px;
	margin-right: 50px;
}
