.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	overflow: hidden;
	top: 0;
	background-color: #f2771a;
	z-index: 100;
	width: 100%;
}

.header__icon {
	object-fit: contain;
	height: 100px;
	margin-left: 20px;
}

.header__right {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-right: 50px;
}
.header__icons {
	color: #1c1919;
	align-items: center;
	text-decoration: none;
	font-size: 20px;
	width: 8vw;
}
